In [3]:
from etl import *

In [4]:
sk = create_spark_session()
input_song_data = 's3a://singaretti/song_data'
input_log_data = 's3a://singaretti/log_data'
output_data = 's3a://singaretti/output'

In [3]:
df_song_data,songs_table, artists_table = process_song_data(sk, input_song_data, output_data)

In [4]:
df_log_data, users_table, time_table, song_df, songplays_table = process_log_data(sk, input_log_data, output_data)

In [7]:
df_artists = sk.read.parquet(f"{output_data}/artists/*")
df_artists.show()

+------------------+--------------------+--------------------+---------------+----------------+
|         artist_id|         artist_name|     artist_location|artist_latitude|artist_longitude|
+------------------+--------------------+--------------------+---------------+----------------+
|ARNF6401187FB57032|   Sophie B. Hawkins|New York, NY [Man...|       40.79086|       -73.96644|
|AROUOZZ1187B9ABE51|         Willie Bobo|New York, NY [Spa...|       40.79195|       -73.94512|
|AREBBGV1187FB523D2|Mike Jones (Featu...|         Houston, TX|           null|            null|
|ARD842G1187B997376|          Blue Rodeo|Toronto, Ontario,...|       43.64856|       -79.38533|
|ARDR4AC1187FB371A1|Montserrat Caball...|                    |           null|            null|
|ARPFHN61187FB575F6|         Lupe Fiasco|         Chicago, IL|       41.88415|       -87.63241|
|AR9AWNF1187B9AB0B4|Kenny G featuring...|Seattle, Washingt...|           null|            null|
|ARIG6O41187B988BDD|     Richard Souther|       United States|       37.16793|       -95.84502|
|AR10USD1187B99F3F1|Tweeterfriendly M...|Burlington, Ontar...|           null|            null|
|AR3JMC51187B9AE49D|     Backstreet Boys|         Orlando, FL|       28.53823|       -81.37739|
|ARLTWXK1187FB5A3F8|         King Curtis|      Fort Worth, TX|       32.74863|       -97.32925|
|ARBGXIG122988F409D|          Steel Rain|     California - SF|       37.77916|      -122.42005|
|ARAJPHH1187FB5566A|     The Shangri-Las|          Queens, NY|        40.7038|       -73.83168|
|ARMJAGH1187FB546F3|        The Box Tops|         Memphis, TN|       35.14968|       -90.04892|
|ARQGYP71187FB44566|        Jimmy Wakely|         Mineola, AR|       34.31109|       -94.02978|
|AR47JEX1187B995D81|        SUE THOMPSON|          Nevada, MO|       37.83721|       -94.35868|
|ARQ9BO41187FB5CF1F|          John Davis|        Pennsylvania|       40.99471|       -77.60454|
|ARGCY1Y1187B9A4FA5|            Gloriana|      Nashville, TN.|       36.16778|       -86.77836|
|AR36F9J1187FB406F1|      Bombay Rockers|             Denmark|       56.27609|         9.51695|
|ARB29H41187B98F0EF|       Terry Callier|             Chicago|       41.88415|       -87.63241|
+------------------+--------------------+--------------------+---------------+----------------+
only showing top 20 rows

In [10]:
df_songplays = sk.read.parquet(f"{output_data}/songplays/*/*/*")
df_songplays.show()

+-------------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|  songplay_id|          start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|
+-------------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
| 188978561024|2018-11-21 21:56:...|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|
|1056561954816|2018-11-14 05:06:...|     10| free|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       484|Washington-Arling...|"Mozilla/5.0 (Mac...|
| 944892805120|2018-11-27 22:35:...|     80| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       992|Portland-South Po...|"Mozilla/5.0 (Mac...|
| 584115552256|2018-11-19 09:14:...|     24| paid|SOGDBUF12A8C140FAA|AR558FS1187FB45658|       672|Lake Havasu City-...|"Mozilla/5.0 (Win...|
+-------------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+

In [11]:
df_songs = sk.read.parquet(f"{output_data}/songs/*/*/*")
df_songs.show()

+------------------+--------------------+---------+
|           song_id|               title| duration|
+------------------+--------------------+---------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...| 43.36281|
|SONYPOM12A8C13B2D7|I Think My Wife I...|186.48771|
|SODREIN12A58A7F2E5|A Whiter Shade Of...|326.00771|
|SOYMRWW12A6D4FAB14|The Moon And I (O...| 267.7024|
|SOWQTQZ12A58A7B63E|Streets On Fire (...|279.97995|
|SOUDSGM12AC9618304|Insatiable (Instr...|266.39628|
|SOPEGZN12AB0181B3D|Get Your Head Stu...| 45.66159|
|SOBAYLL12A8C138AF9|Sono andati? Fing...|511.16363|
|SOOLYAZ12A6701F4A6|Laws Patrolling (...|173.66159|
|SOBBUGU12A8C13E95D|Setting Fire to S...|207.77751|
|SOBLGCN12AB0183212|James (Hold The L...|124.86485|
|SOFFKZS12AB017F194|A Higher Place (A...|236.17261|
|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|230.71302|
|SOBBXLX12A58A79DDA|Erica (2005 Digit...|138.63138|
|SONWXQJ12A8C134D94|The Ballad Of Sle...|  305.162|
|SOTCKKY12AB018A141|Sonnerie lalaleul...| 29.54404|
|SOGNCJP12A58A80271|Do You Finally Ne...|342.56934|
|SOFNOQK12AB01840FC|Kutt Free (DJ Vol...|407.37914|
|SOWTBJW12AC468AC6E|Broken-Down Merry...|151.84934|
|SOGXHEG12AB018653E|It Makes No Diffe...|133.32853|
+------------------+--------------------+---------+
only showing top 20 rows

In [12]:
df_timetable = sk.read.parquet(f"{output_data}/time_table/*/*/*")
df_timetable.show()

+--------------------+----+---+----+
|          start_time|hour|day|week|
+--------------------+----+---+----+
|2018-11-19 06:54:...|   6| 19|  47|
|2018-11-26 13:39:...|  13| 26|  48|
|2018-11-26 08:30:...|   8| 26|  48|
|2018-11-30 04:24:...|   4| 30|  48|
|2018-11-22 01:55:...|   1| 22|  47|
|2018-11-24 06:27:...|   6| 24|  47|
|2018-11-26 11:04:...|  11| 26|  48|
|2018-11-28 23:32:...|  23| 28|  48|
|2018-11-30 18:10:...|  18| 30|  48|
|2018-11-12 16:54:...|  16| 12|  46|
|2018-11-13 15:54:...|  15| 13|  46|
|2018-11-22 22:11:...|  22| 22|  47|
|2018-11-21 18:49:...|  18| 21|  47|
|2018-11-15 19:35:...|  19| 15|  46|
|2018-11-27 22:07:...|  22| 27|  48|
|2018-11-24 06:56:...|   6| 24|  47|
|2018-11-24 13:34:...|  13| 24|  47|
|2018-11-21 23:57:...|  23| 21|  47|
|2018-11-09 01:51:...|   1|  9|  45|
|2018-11-09 19:05:...|  19|  9|  45|
+--------------------+----+---+----+
only showing top 20 rows

In [13]:
df_users = sk.read.parquet(f"{output_data}/users/*")
df_users.show()

+------+----------+---------+------+-----+
|userId| firstName| lastName|gender|level|
+------+----------+---------+------+-----+
|    88|  Mohammad|Rodriguez|     M| paid|
|    88|  Mohammad|Rodriguez|     M| free|
|    68|    Jordan|Rodriguez|     F| free|
|    29|Jacqueline|    Lynch|     F| free|
|    11| Christian|   Porter|     F| free|
|    53|   Celeste| Williams|     F| free|
|    69|  Anabelle|  Simpson|     F| free|
|    75|    Joseph|Gutierrez|     M| free|
|    40|    Tucker| Garrison|     M| free|
|     2|   Jizelle| Benjamin|     F| free|
|    14|  Theodore|   Harris|     M| free|
|    52|  Theodore|    Smith|     M| free|
|    56|    Cienna|  Freeman|     F| free|
|    12|    Austin|  Rosales|     M| free|
|    19|   Zachary|   Thomas|     M| free|
|    23|    Morris|  Gilmore|     M| free|
|    55|    Martin|  Johnson|     M| free|
|    66|     Kevin| Arellano|     M| free|
|    64|    Hannah|  Calhoun|     F| free|
|   100|     Adler|  Barrera|     M| free|
+------+----------+---------+------+-----+
only showing top 20 rows